<!DOCTYPE html>
<html>
<head>
	<title>Rock Paper Scissors Lizard Spock</title>
	<link href='public/css/style.css' rel='stylesheet'>
</head>
<body>
	<h1>Rock Paper Scissors Lizard Spock</h1>
	<h3>Make your move!</h3>
	<section class="choices">
		<img src="images/rock.jpg" data-pick="rock"></img>
		<img src="images/paper.jpg" data-pick="paper"></img>
		<img src="images/scissor.jpg" data-pick="scissors"></img>
		<img src="images/lizard.jpg" data-pick="lizard"></img>
		<img src="images/spock.jpg" data-pick="spock"></img>
	</section>

	<ul id='results'>
	</ul>

	<script src='js/Player.js'></script>
	<script src='js/Game.js'></script>
	<script src='js/jquery-2.1.1.min.js'></script>
	<script src='js/interface.js'></script>

</body>
</html>